*.o
*.obj
*.pdb
*.ilk
*.pro.user
*.log
*.sdf
*.suo
*.vcxproj.filters
*.vcxproj.user
Makefile
Makefile.*
.qmake.stash

bsplines/bsplines
bsplines/bsplines.app
bsplines/*/*.exe*
bsplines/*/*.dll
.build/
